.home {
  min-height: 100vh;
  /* width: 100%; */
  background: linear-gradient(to bottom right, #FBDB93, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: #333;
}

.hero {
  text-align: center;
  width: 100%;
  /* max-width: 900px; */
}

/*  #FBDB93     #BE5B50     #8A2D3B     #641B2E */
.hero-title {
  font-size: 42px;
  font-weight: 800;
  color: #8A2D3B;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  color: #641B2E;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
}

.button.primary {
  background-color: #641B2E     ;
  color: white;
}

.button.primary:hover {
  background-color: #BE5B50;
  color: #FBDB93;
}

.button.secondary {
  background-color: #BE5B50;
  color: #FBDB93;
  border: 2px solid #641B2E;
}

.button.secondary:hover {
  background-color: #8A2D3B;
  color: white;
}
